body{
	background-color: black;
	font-family: Garamond,calibri;
	

}
#rules{
	float: right;
	color: white;


}
#game{
	 
}
#first{
	float: top;
	color: white;
}
footer{
color: white; 
}

#gameCountainer{ 
width: 600px;
height: 450px;
max-height:40%; 
max-width:60%;
background-color:#2795A2;
padding:10px;
border-radius: 100px;
  }
 
 #option-buttons{padding-top: 80px;
  }
   
  #AI1{float: left;
  padding-right:300px;}

#AI2{margin-bottom:20px;}
.btn:hover {background-color: #76B9BB;
border-color: black;}
.btn {
	outline-style:none;
	box-shadow: 0 0 10px 2px;
	padding: 10px;

}
p{margin: 0px;}
.score-board{
	color: white;
	border:3px solid white;
 text-align:center; 
 padding-top: 20px;
 padding-bottom: 20px;
 font-size:60px;
 font-family: garamond rounded,calibri;
 width: 200px;
 border-radius: 8px;
 position: relative;
}



#comp{
	position:absolute;
	top: 50px;
	left:-20px;
}
#comp1{
	position: absolute;
	top: 50px;
	right:-20px;
	
}
#user{
	position: absolute;
	top: -10px;
	right: 85px;
}


.badge{
	background-color: white;

		color: black;
	font-size:10px;
	padding: 2px 10px;
}
#r{ border-radius: 150px
 }
#p{ 
 border-radius: 150px}
#s{border-radius: 150px

}
#l{border-radius: 150px

}
#z{border-radius: 150px

}
#youWin{float: left;
color: white;
font-size: 12;}